header li {
    list-style: none;
    font-size: 13px;
    padding: 0 10px;
    color: #ffffff;
}

.header-wrapper {
    position: absolute;
    z-index: 2;
    width: 100%;
}

.header-icon, .header-contents a, .sub-bar > a, .summary {
    color: #ffffff;
}

.header-image {
    width: 143px;
    height: 24px;
    margin-left: 30px;
}

header .sub-bar {
    background-color: #000000;
}

header button.navbar-toggler:focus {
    outline: none;
}

section:not(:first-of-type) {
    margin: 100px auto 0;
}

#top, .top-image {
    width: 100%;
}

#top {
    position: relative;
}

.top-image {
    background-image: url("https://lh3.googleusercontent.com/-1bpPtI3r9p4/Vr3nxdww-sI/AAAAAAADdlg/A1ObMCzmXtU1BO1K-0LUNMSfmCO41elZgCKgB/s1024/IMG_2441.JPG");
    background-size: cover;
    height: 0;
    padding-top: 70%;
}

.top-message {
    position: absolute;
    z-index: 1;
    transform: translate(-50%, -50%);
    top: 35vw;
    left: 50%;
    margin: 0;
    color: #ffffff;
    font-weight: bold;
    font-size: 36px;
    white-space: nowrap;
    writing-mode: vertical-rl;
}

.summary {
    width: 100%;
    height: auto;
    background-color: #000000;
    text-align: center;
}

.summary .container {
    padding: 50px 0 80px;
}

.top-message, h1 {
    font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
}

h1 {
    font-size: 36px;
    line-height: 1.5;
}

.summary p, #explanation p, #cards p {
    font-size: 14px;
    line-height: 2.6;
}

#explanation .images {
    display: flex;
}

#explanation img {
    width: 25%;
}

#explanation .message {
    background-color: #f5f5f5;
    text-align: center;
    padding: 50px 20px;
    margin: 0 auto;
}

.card {
    border: none;
}

#cards .triangle {
    position: relative;
}

#cards .triangle::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border-bottom: 150px solid transparent;
    border-left: 150px solid #fff;
    content: "";
}

#cards .triangle div {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    padding-left: 3px;
    color: #442602;
    font-size: 20px;
    font-weight: bold;
}

#cards img {
    width: 100%;
}

#cards .message {
    height: 100%;
    background-color: #f5f5f5;
}

#cards button {
    display: block;
    min-width: 200px;
    margin: 0 auto 30px;
    padding: 10px;
    border: none;
    background-color: #000;
    color: #fff;
    font-size: 14px;
    transition: 1.0s;
}

#cards button:hover {
    background-color: #442602;
}

.title h1 {
    font-weight: bold;
}

.title span {
    padding-left: 10px;
    font-size: 14px;
    vertical-align: middle;
}

#newsevents {
    padding: 55px 0 90px;
    background-color: #f5f5f5;
}

#newsevents .list {
    height: 400px;
}

#newsevents article {
    background-color: #fff;
    cursor: pointer;
}

#newsevents .news article {
    height: 20%;
    padding: 16px;
    border: 1px solid #ddd;
}

#newsevents .news article p {
    white-space: nowrap;
    overflow: hidden;
}

#newsevents .event article {
    display: flex;
    height: calc( 100% / 3);
}

#newsevents article:not(:first-of-type), #newsevents article:not(:first-of-type) .post {
    border-top: none;
}

#newsevents article p {
    text-overflow: ellipsis;
}

#newsevents time {
    color: #999;
    font-size: 12px;
}

#newsevents .wrap {
    width: 35%;
    height: 100%;
    overflow: hidden;
}

#newsevents img {
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

#newsevents img:hover {
    transform: scale(1.2);
}

#newsevents .post {
    width: 65%;
    padding: 20px;
}

#newsevents .detail {
    height: 24px;
    padding: 20px 4px 0 0;
    box-sizing: content-box;
    text-align: right;
}

#newsevents a {
    margin: 0 0 0 auto;
    cursor: pointer;
    transition: 0.2s;
}

#newsevents a:hover {
    color: #999;
}

#newsevents a::after {
    display: inline-block;
    transform: rotate(45deg);
    width: 8px;
    height: 8px;
    margin: 0 0 2px 40px;
    border-top: solid 1px #000;
    border-right: solid 1px #000;
    content: "";  
    transition: 0.2s; 
}

#newsevents a:hover::after {
    border-color: #999;
}

@media screen and (min-width: 1200px) {
    header {
        position: absolute;
        top: 0;
        height: 90px;
        width: 100%;
    }

    header .dropdown:hover > .dropdown-menu {
        display: block;
    }

    header nav {
        background-color: rgba(0,0,0,0.5);
    }

    header .dropdown-menu {
        padding: 0;
        width: 220px;
        height: auto;
    }

    header .sub-bar > a {
        font-size: 14px;
        padding: 17px 18px;
    }

    header .sub-bar > a:hover {
        background-color: #442606;
        color: #ffffff;
    }

    .header-contents {
        padding-right: 130px;
    }

    .header-contents > li > a {
        padding: 35px 11px;
    }

    .header-contents > li > a:hover {
        color: #999999;
    }

    header nav .dropdown-menu {
        position: absolute;
        top: 85px;
    }

    header .navbar {
        padding: 0;
    }
}

@media screen and (min-width: 768px) {
    #newsevents .post {
        border: 1px solid #ddd;
        border-left: none;
    }
}

@media screen and (max-width: 1199px) {
    header {
        height: 60px;
    }
    
    .header-wrapper {
        padding: 2px;
        background-color: #000000;
    }

    .header-image {
        margin-left: 30px;
    }

    header .sub-bar a {
        display: inline-block;
        font-size: 13px;
        padding: 10px 0;
    }

    /*ハンバーガーバー*/
    .hamburger {
        height: 17px;
        width: 17px;
        position: relative;
        right: 22px;
        padding: 0;
    }

    header .hamburger-bar {
        position: absolute;
        height: 3px;
        width: 15px;
        background-color: #fff;
        border-radius: 1px;
    }

    header .hamburger-bar:first-of-type {
        top: 0;
    }

    header .hamburger-bar:nth-of-type(2) {
        top: 6px;
    }

    header .hamburger-bar:last-of-type {
        bottom: 0;
    }

    #cards button {
        min-width: 150px;
    }

    #newsevents .wrap {
        width: 40%;
        }
    
    #newsevents .post {
        width: 60%;
    }
}
@media screen and (max-width: 991px) {
    #newsevents .wrap {
        width: 30%;
        }
    
    #newsevents .post {
        width: 70%;
    }
}

@media screen and (max-width: 767px) {
    .header-image {
        width: 110px;
        height: 18px;
        margin: 0;
    }

    .header-wrapper {
        padding: 2px 0;
    }

    .top-message, h1 {
        font-size: 20px;
    }

    .summary p, #explanation p, #cards p {
        line-height: 2;
    }

    #explanation .images {
        flex-wrap: wrap;
        margin-top: 40px;
    }

    #explanation img {
        width: 50%;
    }

    #explanation .message {
        padding: 35px;
    }

    #cards button {
        font-size: 12px;
    }

    #newsevents article {
        border: 1px solid #ddd;
    }

    #newsevents article p {
        font-size: 14px;
    }

    #newsevents .news .list {
        height: 450px;
    }

    #newsevents .event .list {
        height: 270px;
    }

    #newsevents .wrap {
        display: none;
    }

    #newsevents .post {
        width: 100%;
        padding: 10px 16px;
    }
}
 