li {
    list-style: none;
    font-size: 13px;
    padding: 0 10px;
    color: #ffffff;
}

.header-icon, .header-contents a, .sub-bar > a {
    color: #ffffff;
}

.header-image {
    width: 143px;
    height: 24px;
}

.sub-bar {
    background-color: #000000;
}

button.navbar-toggler:focus {
    outline: none;
}

@media screen and (min-width: 1200px) {
    .dropdown:hover > .dropdown-menu {
        display: block;
    }

    nav {
        background-color: rgba(0,0,0,0.5);
    }

    .header-icon {
        margin-left: auto;
    }

    .collapse {
        margin-right: auto;
    }

    .dropdown-menu {
        padding: 0;
        width: 220px;
        height: auto;
    }

    .sub-bar > a {
        font-size: 14px;
        padding: 17px 18px;
    }

    .sub-bar > a:hover {
        background-color: #442606;
        color: #ffffff;
    }

    #navbarSupportedContent {
        flex-grow: 0;
    }

    .header-contents {
        padding-left: 259px;
    }

    .header-contents > li > a {
        padding: 35px 11px;
    }

    .header-contents > li > a:hover {
        color: #999999;
    }

    nav .dropdown-menu {
        position: absolute;
        top: 85px;
    }

    .navbar {
        padding: 0;
    }
}

@media screen and (max-width: 1199px) {
    .header-wrapper {
        padding: 2px;
        background-color: #000000;
    }

    .header-image {
        margin-left: 30px;
    }

    .sub-bar a {
        display: inline-block;
        font-size: 13px;
        padding: 10px 0;
    }

    /*ハンバーガーバー*/
    #humberger {
        width: 58px;
        height: 58px;
        position: absolute;
        display: inline-block;
        box-sizing: border-box;
        right: 0;
        top: 0;
        padding: 0;
    }

     #humberger_box {
        height: 18px;
        width: 15px;
        position: absolute;
        right: 22px;
        margin-top: 8px;
    }

    #humberger_box div {
        position: absolute;
        height: 3px;
        width: 15px;
        background-color: #ffffff;
        border-radius: 1px;
        box-sizing: border-box;
    }

    #humberger_box div:nth-of-type(2) {
        top: 6px;
    }

    #humberger_box div:last-of-type {
        top: 12px;
    }
}

@media screen and (max-width: 767px) {
    .header-image {
        width: 110px;
        height: 18px;
        margin: 0;
    }

    .header-wrapper {
        padding: 2px 0;
    }
}
 